logs
mlruns
results
wandb
custom_train.ipynb
eval_logs
eval_logs_2
eval_results
eval_results_2
eval_logs_3
eval_log_3
eval_results_4
eval_logs_4
results2
logs2
finetune_results
line_model
finetune_results_2
finetune_logs_2

